{% extends "base.html"%}

{% load static %}

{% block title %}
Chat
{% endblock %}

{% block body %}
<div class="wrap">
  <br>
  <div class="grid-x grid-margin-x">
    <div class="cell auto" id="load-chat">
      <div class="grid-content" v-for="item in chats">
        {% verbatim %}
        <h4>{{ item.user }}</h4>
        <p>{{ item.text }}</p>
        <hr>
        {% endverbatim %}
      </div>
      <div class="message-input grid-content collapse shrink">
        <span class="inline-label">
          <input type="text" id="msg" placeholder="Message">
          <a onclick="sendmsg()" class="button">Send</a>
        </span>
      </div>
    </div>
    <div class="cell small-3" id="load-message">
      <a id="Contact" class="active">Contacts</a>
      <div class="vertical-menu" v-for="item in chat">
        {% verbatim %}
        <a href="#">{{ item.user }}</a>
        {% endverbatim %}
      </div>
    </div>
  </div>
  <br>
</div>
{% endblock %}

{% block scripts %}
<script>

function sendmsg() {
  var user_id = {{ current_user_id }};
  var text = document.getElementById("msg").value;
  var json_data = {"user": user_id, "text": text};

  console.log(json_data);

  $.ajax({
    url: "/chat",
    type: "POST",
    dataType: "json",
    data: {
        url: json_data,
        csrfmiddlewaretoken: '{{ csrf_token }}'
        },
    success : function(json) {
        alert("Successfully sent the URL to Django");
    },
    error : function(xhr,errmsg,err) {
        alert("Could not send URL to Django. Error: " + xhr.status + ": " + xhr.responseText);
    }
  });
}

</script>
<script src="{% static "js/vueapp.js" %}"></script>
{% endblock %}
