{% extends "base.html"%}

{% load static %}

{% block title %}
Chat
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
<div class="wrap" style="width: 70%">
  <br>
  <div class="grid-x grid-margin-x">
    <div class="cell auto" id="load-chat">
      <div class="grid-content" v-for="item in chats">
        {% verbatim %}
        <h4>{{ item.user }}</h4>
        <p style="color: #9c9c9c">{{ item.text }}</p>
        <small>{{ item.creation }}</small>
        <hr style="max-width:1920px">
        {% endverbatim %}
      </div>
    </div>
    <!-- <div class="cell small-3" id="load-message">
      <a id="Contact" class="active">Contacts</a>
      <div class="vertical-menu" v-for="item in chat">
        {% verbatim %}
        <a href="#">{{ item.user }}</a>
        {% endverbatim %}
      </div>
    </div> -->
  </div>
  <br>
  <div class="message-input grid-content collapse shrink">
    <form method="post" action="/chat/">
      {% csrf_token %}
      <input type="text" placeholder="Message" name="msgfield">
      <button class="button">Send</button>
    </form>
  </div>
  <br>
</div>
{% else %}
<div class="wrap">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h4 class="text-center">You need to be logged <br/> in to view this site</h4>
  <br>
  <br>
  <center>
    <a href="/login/" class="button large">Login</a><br/>
    <a href="/register/" class="secondary button large">Register</a>
  </center>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
//https://stackoverflow.com/questions/17883692/how-to-set-time-delay-in-javascript/26306356
var delayInMilliseconds = 100; //Delay needed otherwise function executes before json is read

setTimeout(function() {
  var objDiv = document.getElementById("load-chat");
  objDiv.scrollTop = objDiv.scrollHeight;
}, delayInMilliseconds);
</script>

<!-- <script>

function sendmsg() {
  var user_id = {{ current_user_id }};
  var text = document.getElementById("msg").value;
  var json_data = {"user": user_id, "text": text};

  console.log(json_data);

  $.ajax({
    url: "/chat",
    type: "POST",
    dataType: "json",
    data: {
        url: json_data,
        csrfmiddlewaretoken: '{{ csrf_token }}'
        },
    success : function(json) {
        alert("Successfully sent the URL to Django");
    },
    error : function(xhr,errmsg,err) {
        alert("Could not send URL to Django. Error: " + xhr.status + ": " + xhr.responseText);
    }
  });
}

</script> -->
<script src="{% static "js/vueapp.js" %}"></script>
{% endblock %}
