{% extends "base.html"%}

{% load static %}

{% block title %}
Event
{% endblock %}

{% block body %}

<div class="wrap" style="text-align: center">
  <div class="row">
    <div class="small-6 small-centered columns">
      <h1>Event</h1>
      <br>
      <hr class="dotted">
    </div>
  </div>
    <ul class="menu align-center">
      <li><a href="#">Pic</a></li>
      <li><a href="#">User</a></li>
      <li><a href="#">Price</a></li>
      <li><a href="#">Time left</a></li>
      <li><a href="#" class="button">Bid</a></li>
    </ul>
    <hr class="dotted">
    <ul class="menu align-center">
      <li><a href="#">Pic</a></li>
      <li><a href="#">User</a></li>
      <li><a href="#">Price</a></li>
      <li><a href="#">Time left</a></li>
      <li><a href="#" class="button">Bid</a></li>
    </ul>
    <hr class="dotted">

<table class="hover">
  <thead>
    <tr>
      <th width="200">Table Header</th>
      <th>Table Header</th>
      <th width="150">Table Header</th>
      <th width="150">Table Header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
  </tbody>
</table>

</div>

{% endblock %}
