{% extends "base.html"%}

{% load static %}

{% block title %}
Event
{% endblock %}

{% block body %}

<div class="wrap" style="text-align: center">
  <div class="row">
    <div class="small-6 small-centered columns">
      <h1>Events</h1>
      <br>
    </div>
  </div>
<table class="hover" id="load-contacts">
  <thead>
    <tr>
      <th style="text-align: center">Pic</th>
      <th style="text-align: center">User</th>
      <th style="text-align: center">Price</th>
      <th style="text-align: center">Time left</th>
      <th style="text-align: center"></th>
    </tr>
  </thead>
  <tbody v-for="item in event">
    <tr>
      {% verbatim %}
      <td>{{ item.user }}</td>
      <td>{{ item.user }}</td>
      <td>{{ item.user }}</td>
      <td>{{ item.user }}</td>
      <td ><a href="#" class="button">Bid</a></td>
      {% endverbatim %}
    </tr>
    <tr>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td ><a href="#" class="button">Bid</a></td>
    </tr>
    <tr>
      <td>{{ item.user }}</td>
      <td>{{ item.user }}</td>
      <td>{{ item.user }}</td>
      <td>{{ item.user }}</td>
      <td ><a href="#" class="button">Bid</a></td>
    </tr>
  </tbody>
</table>
</div>

{% endblock %}
