{% extends "base.html"%}

{% load static %}

{% block title %}
Homepage
{% endblock %}

{% block body %}

<!-- Main Content -->
<section class="main">
  <div class="wrap">
    <div class="grid-fluid">
      <div class="grid-x grid-padding-x" id="load-events">
        <div class="medium-4 cell" v-for="item in events">
          {% verbatim %}
          <a href="http://localhost:8000/event/" style="color:inherit">
            <div class="box">
              <h5>{{ item.event }}</h5>
              <p>{{ item.description }}</p>
            </div>
          </a>
          {% endverbatim %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static "js/vueapp.js" %}"></script>
{% endblock %}
