{% extends "base.html"%}

{% load static %}

{% block title %}
Homepage
{% endblock %}

{% block body %}

<!-- Main Content -->
<section class="main" style="height: 605px; overflow: auto;">
  <div class="wrap">
    <div class="grid-fluid">
      <div class="grid-x grid-padding-x" id="load-events">
        <div id="boxes" class="medium-4 cell" v-for="item in events">
          {% verbatim %}
            <div class="box" style="overflow:hidden">
              <center><h5>{{ item.event }}</h5></center>
              <hr>
              <p style="padding: 0px 20px">{{ item.description }}</p>
            </div>
          {% endverbatim %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static "js/vueapp.js" %}"></script>
{% endblock %}
