{% extends "base.html"%}

{% load static %}

{% block title %}
Survey
{% endblock %}

{% block body %}
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell" style="padding-top: 50px">
      <h1><center>Create a survey<center></h1>
        <form action="/survey/" method="post">
            {% csrf_token %}
            <div class="grid-x grid-padding-x small-up-4">
            <div class="cell">
            {{ form.survey_name.errors }}
            {{ form.survey_name.label_tag }}
            {{ form.survey_name }}
            </div>
            <div class="cell">
            {{ form.survey_creation.label_tag }}
            {{ form.survey_creation }}
            </div>
            <div class="cell">
            {{ form.survey_size.label_tag }}
            {{ form.survey_size }}
            </div>
            <div class="cell">
            {{ form.survey_description.label_tag }}
            {{ form.survey_description }}
            </div>
            <input type="submit" class="button expanded" value="Submit"/>
        </form>
        <!-- {% verbatim %}
        <transition name="fade">
          <p v-if="!show">Successfully submitted!</p>
        </transition>
        {% endverbatim %} -->
    </div>
    <div class="large-12 cell" style="padding-top: 50px">
      <h1><center>Surveys</center></h1>
      <div class="grid-x grid-padding-x small-up-4" id="load-survey">
        <div class="cell" v-for="item in surveys">
          {% verbatim %}
          <div class="box">
            <h5>{{ item.survey }}</h5>
            <p>Created on {{ item.creation }}</p>
          </div>
          {% endverbatim %}
        </div>
      </div>
    </div>
    <div class="large-12 cell" style="padding-top: 50px">
      <h1><center>Description</center></h1>
      <p><center>1. Text in panel through JS from JSON</center></p>
      <p><center>2. Hovering over panel shows description</center></p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "js/vueapp.js" %}"></script>
{% endblock %}
